html,
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
}

.page-title {
    text-align: center;
    font-weight: 100;
}

.sub-title {
    text-align: center;
}

.page-description {
    border: 1px solid #000;
    text-align: center;
}

.home {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;

}



nav {
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #204156;
    text-decoration: none;
}


.afoot {
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 11;
    height: 50px;
    text-align: center;
}
